

#section-container{
    position: absolute;
    width: 70%;
    left: 15%;
    top: 30%;
    background-color: #d2d2d2;
}

.title-container{
    display: flex;
    margin: 0;
    overflow: auto;
    padding-left: 15px;
}

.active, .title-container:hover{
    background-color: #b7b7bd;
    cursor: pointer;
}

.plus-minus-btn{
    left: 90%;
    position: relative;
    overflow: auto;   
}

.caption{
    background-color: white;
    overflow: auto;
    margin: 0;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.show-caption{
    display: block;
}


